<body style="">

  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">{{ title }}</a>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">SKU
            <span class="sr-only">(current)</span>
          </a>
        </li>
      </ul>
    </div>
  </nav>

  <main role="main" class="container">

    <div class="starter-template">
      <div class="row">
        <app-form-sku></app-form-sku>
      </div>
      <div class="row">
        <app-form-sku-with-bulider></app-form-sku-with-bulider>
      </div>
      <div class="row">
        <app-demo-ng-model></app-demo-ng-model>
      </div>
    </div>


  </main>
  <!-- /.container -->
