/* You can add global styles to this file, and also import other style files */

body {
  padding-top: 5rem;
}

.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

app-form-sku,
app-form-sku-with-bulider,
app-demo-ng-model {
  margin: 0 auto;
  /* Added */
  float: none;
  /* Added */
  margin-bottom: 10px;
  /* Added */
}
